.adds{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        padding: 50px;

        h1{
            color: gray;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .sections{

            display: flex;
            justify-content: space-between;
            gap: 100px;

            .left, .right{
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 10px;
                justify-content: space-between;


                label{
                    color: gray;
                    font-size: 18px;
                }

                input, select, textarea{
                    padding: 20px;
                }

                button{
                    border: none;
                    padding: 20px;
                    background-color: #1dbf73;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 5px;
                    margin-top: 30px;
                    cursor: pointer;
                }
            }

            
        }
    }
}