.footer{
    display: flex;
    justify-content: center;
    color: #999;
    margin: 50px 0;
    .container{
        width: 1400px;
    
        .top{
            display: flex;
            justify-content: space-between;

            .item{
                display: flex;
                flex-direction: column;
                gap: 20px;


                h2{
                    font-size: 20px;
                    color: #555
                }
                span{
                    font-weight: 300;
                    .lite{
                        display: flex;
                        flex-direction: column;
                        font-size: 14px;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        hr{
            margin: 50px 0;
            height: 0;
            border: 1px solid lightgray;
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                display: flex;
                align-items: center;
                gap: 20px;
                h2{

                }
                span{
                    font-size: 13px;
                }
            }
            .right{
                display: flex;
                align-items: center;
                gap: 30px;
                
                .social{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    cursor: pointer;

                    img:nth-of-type(3), img:nth-of-type(4){
                        background-color: #999;
                        border-radius: 25%;
                    }

                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    img{
                        width: 30px;height: 30px;
                    }
                    span{

                    }
                }
                img{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}