.slide{
    display: flex;
    justify-content: center;
    padding: 100px 0;

    .container{
        width: 1400px;

        .carousel-prev, .carousel-next{
            height: 50px;
            width: 50px;
            position: absolute;
            top: 0;bottom: 0;
            margin: auto;
            background-color: rgb(243, 238, 238);
            border-radius: 50%; 
        }
    }
}